#cookie{
    height: 300px;
    alignment: center;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
}

#counter{
    border: 3px solid #2d160d;
    background-color: #9c7d51;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    align-content: center;
}

#cookieMultiplier , #cookieAutoClicker , #oven{
    display: block;
    cursor: pointer;
}

body{
    background-image: url("images/cookie black.png");
    background-size: 100px;
    background-color: #ffd4a8;
}

li{
    background-color: #886a47;
    color: white;
    padding: 5px;
    align-content: center;
}
ul{
    border: 3px solid #2D2613;
}

#heading{
    background-color: #ecb15f;
    width: fit-content;
    padding: 10px;
    align-content: center;
    align-self: center;
    font-size: 25px;
}

.bottom-border{
    border-bottom:3px solid #2D2613;
}