#cookie{
    height: 250px;
    alignment: center;
    margin: 10px;
}

#counter{
    border: 3px solid #2d160d;
    background-color: #9c7d51;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    align-content: center;
}

#cookieMultiplier{
    background-color: #582c18;
    display: block;
}

body{
    background-image: url("images/cookie black.png");
    background-size: 100px;
    background-color: #ffd4a8;
}

li{
    background-color: #886a47;
    color: white;
    padding: 5px;
    align-content: center;
}